body{
	background:url("images/back.jpg") repeat  ;
}
#fh5co-main{
	background:url("images/back.jpg") repeat;
}

.container{
	background:url("images/back.jpg") repeat ;
}
.fh5co-grid{
	background:url("images/back.jpg") repeat ;
}
.fh5co-col-1{
	background:url("images/back.jpg") repeat ;
}
p{
	font-family:"微软雅黑";
}
