#onload{
	position:absolute;
	left:0;top:0;
	width:25%;
	height:100%;
	background-color: #fff;
	z-index:18;
	display:block;
}
.ball{
	position:relative;
	top:50%;left:50%;
	margin-left:-2%;
	margin-top:-2%;
	width:60px;
	height:60px;
	background-color: green;
	border-radius: 50%; 
	animation:jumpdown 0.7s infinite ease-in-out;
}
#onload p{
	color:green;
	position:relative;
	top:55%;left:49%;
	margin-left:-2%;
	margin-top:-2%;
}
@keyframes jumpdown{
	0%{transform:translateY(0px) scaleY;
	
	}
	50%{transform:translateY(-50px) scaleY(1);
		
	}
	100%{transform:translateY(0px);
		
	}
}
