*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
	height:100%;
}


a:link{
	color:black;
	text-decoration:none;


}
a:visited{
	color:black;
	text-decoration:none;
} 
 a:hover{
	color:#1bbc9b;
	text-decoration:none
 }  

.section { 
 text-align: left;
 font: 50px "Microsoft Yahei"; 
 color: #fff;
 width:100%;
 height:100%;}

   .section5 p{
 	position: absolute; 
 	left: -120%;
 	top:20%;
 	z-index:10;
 }
.section3 p{
	position: absolute; 
 	right: -120%;
 	top:20%;
 	z-index:10;
 	text-shadow:0px 0px 5px #000;
}
.section4 p{
	position: absolute; 
 	left:30%;
 	top:15%;
 	z-index:10;
 	text-shadow:0px 0px 5px #000;


}
.section5 p{
	text-shadow:0px 0px 5px #000;
}
.section2 p{
	position: absolute; 
 	left:10%;
 	top:-200%;
 	text-shadow:0px 0px 5px #000;
}
.article{
	text-align:left;
	position:absolute;
	width:50%;
	height:50%;
	left: -120%;
	top:20%;
	opacity:0;
	z-index: 10;

	
}

.pic_1 img,.pic_2 img,.pic_3 img,.pic_4 img,.pic_5 img{

	width:100%;
	height:100%;
	/* z-index:1; */
	
}
.top{
	width:100%;
	height:85px;
	margin:0 auto;
	position:absolute;
	top:0;
	background-color: #FFF;

}
#logo_light {
	width:500px;
	height:80px;
	position:relative;
	left:3%;
	top:0%;
    overflow:hidden;

}
#logo_light img{
    float:left;	
    height:80px;
	position:relative;
	left:0%;
	top:0%;
    z-index:5;
    opacity:0.6;
}
#logo{
	float:left;
	position:absolute;
	left:5%;
	top:5px;
	z-index:1;
	}

#logo img{
	width:auto;
	height:70px;
	left:5%;
	}
.clear{
	clear:both;
}
.ysunav{
	width:800px;
	position:absolute;
	float:left;
	left:50%;
	top:5px;
	margin:0px;
}
.ysunav li{
	width:auto;
	height:auto;
	position:relative;
	top:0px;
	list-style: none;
	float:left;
	font:30px "STHeiti  ";
	color:#000000;
	padding:15px;
	
	}
.ysunav li img{
	width:109px;
	height:13px;
	position:absolute;
	top:60px;
	left:18px;
	visibility:hidden;
	
}
.footer{
	position:absolute;
	width:100%;
	height:20%;
	bottom:20%;
	background-color: #4D4D4B;
}
.footer address{
	position:relative;
	text-align: center;
	font:15px "Microsoft Yahei " ;
	top:12%;
}